BINTRAY_APIKEY =
# test remote dir app must be without tests directory in end
APP_URL_DIR =
APP_FTP_DIR = /
APP_FTP_HOST =
APP_FTP_PORT = 21
APP_FTP_USER =
APP_FTP_PASSWORD =

TEST_REMOTE_DIR_APP = /
TEST_APP_URL_DIR =
TEST_FTP_HOST =
TEST_FTP_PORT = 21
TEST_FTP_USER =
TEST_FTP_PASSWORD =
TEST_APP_EMAIL_ADMINISTRATOR =
TEST_APP_PASSWORD_ADMINISTRATOR =
TEST_HOME_URL_PANEL =
TEST_HOME_LOGIN =
TEST_HOME_PASSWORD =
TEST_HOME_HOSTING_ID =
TEST_HOME_DATABASE_NAME_SUFFIX =
TEST_HOME_DATABASE_PASSWORD =
TEST_HOME_DATABASE_PORT = 3306
TEST_HOME_DATABASE_HOST =
TEST_HOME_DATABASE_DESCRIPTION =
TEST_GOOGLE_DEV_LOGIN =
TEST_GOOGLE_DEV_PASSWORD =
TEST_GOOGLE_DEV_PROJECT_NAME =
TEST_PRETTY_APP_URL =
TEST_APP_MAIN_TITLE =
TEST_SKELETON_APP_ZIP = partition:\*.*
TEST_RESOURCE_FILE_WP_CONFIG_TEMPLATE = partition:\*.*
TEST_RESOURCE_FILE_IMPORT_SQL_TEMPLATE = partition:\*.*
TEST_ADSENSE_1_FILE = partition:\*.*
TEST_ADSENSE_2_FILE = partition:\*.*
TEST_ADSENSE_3_FILE = partition:\*.*
TEST_ADSENSE_4_FILE = partition:\*.*
TEST_ADSENSE_5_FILE = partition:\*.*

NEW_APP_REMOTE_DIR_APP = /
NEW_APP_URL_DIR =
NEW_APP_FTP_HOST =
NEW_APP_FTP_PORT = 21
NEW_APP_FTP_USER =
NEW_APP_FTP_PASSWORD =
NEW_APP_APP_EMAIL_ADMINISTRATOR =
NEW_APP_HOME_URL_PANEL =
NEW_APP_HOME_LOGIN =
NEW_APP_HOME_PASSWORD =
NEW_APP_HOME_HOSTING_ID =
NEW_APP_HOME_DATABASE_NAME_SUFFIX =
NEW_APP_HOME_DATABASE_PASSWORD =
NEW_APP_HOME_DATABASE_PORT = 3306
NEW_APP_HOME_DATABASE_HOST =
NEW_APP_HOME_DATABASE_DESCRIPTION =
NEW_APP_SKELETON_APP_ZIP = partition:\*.zip
NEW_APP_RESOURCE_FILE_WP_CONFIG_TEMPLATE =  partition:\*.*
NEW_APP_RESOURCE_FILE_IMPORT_SQL_TEMPLATE = partition:\*.*
# For pre config
NEW_APP_APP_PASSWORD_ADMINISTRATOR =
NEW_APP_PRETTY_APP_URL =
NEW_APP_APP_MAIN_TITLE =
NEW_APP_GOOGLE_DEV_LOGIN =
NEW_APP_GOOGLE_DEV_PASSWORD =
NEW_APP_GOOGLE_DEV_PROJECT_NAME =
NEW_APP_ADSENSE_1_FILE = partition:\*.*
NEW_APP_ADSENSE_2_FILE = partition:\*.*
NEW_APP_ADSENSE_3_FILE = partition:\*.*
NEW_APP_ADSENSE_4_FILE = partition:\*.*
NEW_APP_ADSENSE_5_FILE = partition:\*.*